body {
    background-color: #27f5be;
    text-align: center;
  }
/* h2 {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #b30000;
}
a {
    text-decoration: none;
    color: #ff0000;
}
a:hover {
    color: #b30000; */
